WG Chairs involvement in the Early Allocation process

In a side discussion with IANA, we agreed on a formulation for documents that mint these hybrid policies and rightly discuss also the case when the Early Allocation process from RFC 7120 is used.

That formulation, already used in some Internet Drafts, says:

> The procedure for early IANA allocation of Standards Track code points defined in [RFC7120] also applies. When such a procedure is used, IANA will ask the designated expert(s) to approve the early allocation before registration. In addition, WG chairs are encouraged to consult the expert(s) early during the process outlined in Section 3.1 of [RFC7120].

Building on that, the text in Section 3 of this document can be revised as below.

OLD
> 2. The WG chairs determine whether the conditions for early allocations described in Section 2 are met, particularly conditions (c) and (d). For the registration policies defined in Section 2 of RFC-XXXX, the WG chairs first request review and approval from the Designated Expert.

NEW
> 2. The WG chairs determine whether the conditions for early allocations described in Section 2 are met, particularly conditions (c) and (d). For the registration policies defined in Section 2 of RFC-XXXX, IANA will ask the Designated Expert(s) to approve the early allocation before registration. In addition, WG chairs are encouraged to consult the Expert(s) early during the early allocation process.
