Explain "the three augmented policies"

Proposed change to the first bullet point in Section 3:

OLD:
> * Item (a) in Section 2 of RFC 7120 [BCP100] is extended to include the three augmented policies.

NEW:
> * Item (a) in Section 2 of RFC 7120 [BCP100] is extended to include the three augmented policies "RFC Required With Expert Review", "IETF Review With Expert Review", and "Standards Action With Expert Review" (see Sections 2.1, 2.2, and 2.3 of the present document, respectively).